<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="userBean" class="com.test.struts2.spring.integration.User">
		<property name="firstName" value="Michael" />
		<property name="lastName" value="Jackson" />
	</bean>
</beans>